<html>
  <body>
     <?.reason><div class='message'><.reason></div>
     </?><form method="POST" action="/login">
       <div>
         Username: <input type="text" name="username" value="<.username>" />
       </div>
       <div>
         Password: <input type="password" name="password" />
       </div>
       <input type="submit" value="Log In" />
     </form>
  </body>
</html>
