<:sub head($title)>
<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Micronomy @ B3<?$title> - <$title></?></title>
    <link rel="icon" type="image/svg+xml" href="clockicon.svg">
    <link rel="stylesheet" href="/styles/common.css" type="text/css" />
    <link rel="stylesheet" title="light" href="/styles/light.css" type="text/css" />
    <link rel="alternate stylesheet" title="dark" href="/styles/dark.css" type="text/css" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='/script/styleswitcher.js'></script>
    <script src='/script/nav.js'></script>
  </head>
  <body onload="setupNavigation();">
</:>

<:sub foot>
  <footer>
    <span id="timestamp">[2020-04-26 18:04:19] ● Please
      <a href="https://github.com/krakan/micronomy/issues"
	 target="_blank">report bugs</a>!</span>

    <div class="theme-switcher">
      <a href="#" id="light"
	 onclick="setActiveStyleSheet('light');return false;">ljus</a> /
      <a href="#" id="dark"
	 onclick="setActiveStyleSheet('dark');return false;">mörk</a>
    </div>
  </footer>
</:>
