<:sub head($title)>
<html lang="sv">
  <head>
    <title>micronomy @ B3<?$title> - <$title></?></title>
    <link rel="stylesheet" href="/styles/common.css" type="text/css">
    <link rel="stylesheet" title="light" href="/styles/light.css" type="text/css">
    <link rel="alternate stylesheet" title="dark" href="/styles/dark.css" type="text/css">
    <script src='/script/styleswitcher.js'></script>
    <script src='/script/nav.js'></script>
  </head>
  <body onload="setupNavigation();">
    <h1>micronomy @ B3<?$title> - <$title></?></h1>
</:>

<:sub foot>
    <div class="style">
      <a href="#" id="light" onclick="setActiveStyleSheet('light');return false;">ljus</a> /
      <a href="#" id="dark" onclick="setActiveStyleSheet('dark');return false;">mörk</a>
    </div>
    <p>[<span id="timestamp">2020-04-23 08:38:50</span>] ● Please <a href="https://github.com/krakan/micronomy/issues">report bugs</a>!</p>
  </body>
</html>
</:>
