<:sub head($title)>
<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>Micronomy @ B3<?$title> - <$title></?></title>
    <link rel="icon" type="image/svg+xml" href="clockicon.svg">
    <link rel="stylesheet" href="/styles/common.css" type="text/css" />
    <link rel="stylesheet" title="light" href="/styles/light.css" type="text/css" />
    <link rel="alternate stylesheet" title="dark" href="/styles/dark.css" type="text/css" />
    <link rel="alternate stylesheet" title="black" href="/styles/black.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src='/script/styleswitcher.js'></script>
    <script src='/script/nav.js'></script>
  </head>
  <body onload="setupNavigation();">
</:>

<:sub foot>
  <p>
    [<span id="timestamp">2021-02-05 08:45:19</span>]
    ● Please <a href="https://github.com/krakan/micronomy/issues" target="_blank">report bugs</a>! ●
    <span class="theme-switcher">
      <a href="#" id="light" onclick="setActiveStyleSheet('light');return false;">#</a>
      <a href="#" id="dark" onclick="setActiveStyleSheet('dark');return false;">#</a>
      <a href="#" id="black" onclick="setActiveStyleSheet('black');return false;">#</a>
    </span>
  </p>
</:>
