<!DOCTYPE html>
<:use 'common.html.tmpl'>
<&head('rader')>
    <?.error><div class='error'>Error: <.error></div></?>
    <h2>
      <.employee>,
        vecka <.week>
    </h2>

    <form action="/edit" method="POST">
      <input type="hidden" name="rows" value="<.next>" />
      <input type="hidden" name="date" value="<.date>" />
      <@rows>
        <div class="row">
          <div class="job">
            <input size="1" type="text" name="position-<.number>" value="<.number>" />.
              <.jobname> /
              <?.tasknumber><.taskname></?><!.tasknumber><select name="set-task-<.number>">
                <option value="">Välj uppgift ...</option>
                <@tasks>
                  <option value="<.number>"><.name></option>
                </@>
              </select></!>
              <input type="hidden" name="was-kept-<.number>" value="<.keep>" />
              <select name="keep-<.number>">
                <option value="0">tag bort</option>
                <option value="1"<!.keep> selected</!>>denna vecka</option>
                <option value="2"<?.keep> selected</?>>tills vidare</option>
              </select>
              <input type="hidden" name="job-<.number>" value="<.jobnumber>" />
              <input type="hidden" name="task-<.number>" value="<.tasknumber>" />
              <input type="hidden" name="hours-<.number>" value="<.hours>" />
          </div>
        </div>
      </@>
      <div class="row">
        <input size="1" type="text" name="position-<.next>" value="<.next>" />.
        <select name="job-<.next>">
          <option value="">Lägg till favorit ...</option>
          <@favorites>
            <option value="<.jobnumber>/<.tasknumber>"><.favorite></option>
          </@>
        </select>
      </div>
      <input class="submit" type="submit" value="Uppdatera" />
    </form>

    <form class="submit" action="/" method="POST">
      <input type="hidden" name="date" value="<.date>" />
      <input class="submit" type="submit" value="Till tidrapport" />
    </form>

<&foot>
