<:use 'common.html.tmpl'>
<&head('login')>
<?.reason><div class='error'><.reason></div></?>

<div class="center-container">
  <div class="panel-shadow content">
    <form name="login" class="login-form" method="POST" action="/login">
      <img src="micronomy_files/b3.svg" class="coin-logo">
      <div class="center-text login-banner">Micronomy</div>
      <input type="text" name="username" placeholder="Anv&auml;ndarnamn"
		   class="login-text-input center-text" autofocus
		   value="<.username">
      <input type="password" name="password" placeholder="L&ouml;senord"
		   class="login-text-input center-text">
    </form>
  </div>

  <script>
    <!--
          if (document.login.username.value) {
            document.login.password.focus();
          }
    -->
  </script>
  <&foot>
</div>
