<:use 'common.html.tmpl'><&head('')>
    <?.error><div class='error'><.error></div></?>
    <?.font-size><style><!-- .hour-box { font-size: <.font-size>; }--></style></?>
    <div class="center-container">
      <div class="content">

        <h2><.employee>, <.period><.state></h2>

        <nav class="nav--bar">
          <form class="nav--panel" action="<.action>" method="POST">
            <input type="hidden" name="date" value="<.previous>">
            <input type="hidden" name="containerInstanceId" value="<.containerInstanceId>">
            <input type="hidden" name="concurrency" value="<.concurrency>">
            <input id="prevWk" type="submit" class="fancy-button arrow" name="submit" value="&lt;">
          </form>

          <div class="date-picker">
            <form class="nav--panel" action="<.date-action>" method="POST">
              <input type="date" min="2019-05-01" max="<.last-of-month>" class="date-input" name="date" value="<.date>">
              <input type="hidden" name="containerInstanceId" value="<.containerInstanceId>">
              <input type="hidden" name="concurrency" value="<.concurrency>"><!.state>
              <input type="hidden" name="hours-cache" value="on">
              <input type="hidden" name="set-cache" value="">
              <input type="date" min="2019-05-01" max="<.last-of-month>" class="date-input" name="end-date" value="<.end-date>"></!>
              <input id="selectedWk" type="submit" class="fancy-button" name="submit" value="V&auml;lj">
            </form>

            <?.state>
            <form class="nav--panel" action="/" method="POST">
              <input type="hidden" name="date" value="<.today>">
              <input type="hidden" name="containerInstanceId" value="<.containerInstanceId>">
              <input type="hidden" name="concurrency" value="<.concurrency>">
              <input id="currentWk" type="submit" class="fancy-button" name="submit" value="Idag">
            </form>
            </?>
          </div>

          <form class="nav--panel" action="<.action>" method="POST">
            <input type="hidden" name="date" value="<.next>">
            <input type="hidden" name="containerInstanceId" value="<.containerInstanceId>">
            <input type="hidden" name="concurrency" value="<.concurrency>">
            <input id="nextWk" type="submit" class="fancy-button arrow" name="submit" value="&gt;">
          </form>
        </nav>

        <div class="date-boxes">
          <@days>
          <div class="date-boxes__box"><?.url><a href="<.url>"></?><.date><?.url></a></?></div>
          </@>
          <div class="date-boxes__box">∑</div>
        </div>

        <form class="content__block" action="/" method="POST" id="hourForm">
          <input type="hidden" name="containerInstanceId" value="<.containerInstanceId>">
          <input type="hidden" name="concurrency" value="<.concurrency>" />
          <input type="hidden" name="date" value="<.date>" />
          <input type="hidden" name="filler" value="<.filler>" />
          <input type="hidden" name="rowCount" value="<.rowCount>" />

          <div class="panel-shadow">
            <div class="panel-title">Rader</div>
            <div class="panel rows-panel">
              <@rows>
              <div class="title<!{.disabled}> nav-row</!>">
                <div><.title></div>
                <!-- Backend generated status element. ✔ or ✘ or ~ [text]  -->
                <&HTML(.status)>
              </div>
              <div class="hour-spacer">
                <@days: $day>
                <input type="hidden" name="hidden-<.number>-<$day.number>" value="<$day.hours>" /><?$day.disabled>
                <div class="hour-box"><$day.hours></div></?><!$day.disabled>
                <input type="text"
                       class="<$day.classes>"<?$day.id> id="<$day.id>"</?>
                       name="hours-<.number>-<$day.number>"
                       value="<$day.hours>" /></!>
                </@>

                <div class="hour-box highlight"><.weektotal></div>

              </div>
              </@>

            </div>

            <?.state>
            <div class="save-button-container">
              <input type="submit" class="save-button" value="Spara" />
            </div>
            </?>
          </div>

          <div class="panel-shadow">
            <div class="panel-title">Totalt</div>
            <div class="panel">
              <div class="hour-spacer">
                <@days>
                <div class="hour-box"><.total></div>
                </@>
                <div class="hour-box highlight"><.total></div>
              </div>
            </div>
          </div>

          <div class="panel-shadow">
            <div class="panel-title">F&ouml;rv&auml;ntat</div>
            <div class="panel">
              <div class="hour-spacer">
                <@days>
                <div class="hour-box"><.fixed></div>
                <input type="hidden" name="expect-<.number>" value="<.fixed>" />
                </@>
                <div class="hour-box highlight"><.fixed></div>
                <input type="hidden" name="expectSum" value="<.fixed>" />
              </div>
            </div>
          </div>

          <div class="panel-shadow">
            <div class="panel-title">Saldo</div>
            <div class="panel">
              <div class="hour-spacer">
                <@days>
                <div class="hour-box"><.overtime></div>
                </@>
                <div class="hour-box highlight"><.overtime></div>
              </div>
            </div>
          </div>

          <div class="panel-shadow">
            <div class="panel-title">Fakturerbart</div>
            <div class="panel">
              <div class="hour-spacer">
                <@days>
                <div class="hour-box"><.invoiceable></div>
                </@>
                <div class="hour-box highlight"><.invoiceable></div>
              </div>
            </div>
          </div>
        </form>

        <?.state>
        <form class="reason-container" action="/submit" method="POST">
          <input type="hidden" name="concurrency" value="<.concurrency>" />
          <input type="hidden" name="containerInstanceId" value="<.containerInstanceId>">
          <input type="hidden" name="date" value="<.date>" />
          <input type="text" class="big-text-input" name="reason"
            placeholder="&Auml;ndringsorsak" />
          <input type="submit" class="fancy-button" value="Avl&auml;mna" />
        </form>

        <form action="/month" method="POST">
          <input type="hidden" name="date" value="<.date>" />
          <input type="submit" class="fancy-button month-button"
            value="M&aring;nadssammanst&auml;llning" />
        </form>

        <form action="/edit" method="POST">
          <input type="hidden" name="date" value="<.date>" />
          <input type="submit" class="fancy-button edit-button"
            value="Redigera rader" />
        </form>

        <form action="/calendar" method="post">
          <input type="hidden" name="date" value="" />
          <input type="submit" class="fancy-button calendar-button"value="Kalendergenerator"/>
        </form>

        <form class="logout-button" action="/logout" method="POST">
          <input type="hidden" name="username" value="" />
          <input type="submit" class="fancy-button" value="Logga ut" />
        </form>
        </?>
        <!.state>
        <form action="/period" method="POST">
          <input type="hidden" name="date" value="<.date>" />
          <input type="hidden" name="end-date" value="<.end-date>" /><!.hours-cache>
          <input type="submit" name="set-cache" class="fancy-button edit-button" value="Mellanlagra godk&auml;nda timmar" /></!><?.hours-cache>
          <input type="submit" name="unset-cache" class="fancy-button edit-button" value="Sluta mellanlagra godk&auml;nda timmar" /></?>
        </form>
        <form action="/" method="POST">
          <input type="hidden" name="date" value="<.today>" />
          <input class="fancy-button back-button" type="submit" value="Innevarande vecka" />
        </form>
        </!>

      </div> <!-- content -->
      <&foot>
    </div> <!-- center-container -->
  </body>
</html>
