<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>micronomy @ B3</title>
    <link rel="stylesheet" href="/styles/common.css" type="text/css">
    <link rel="stylesheet" title="light" href="/styles/light.css" type="text/css">
    <link rel="alternate stylesheet" title="dark" href="/styles/dark.css" type="text/css">
    <script src='/script/styleswitcher.js'></script>
    <script src='/script/nav.js'></script>
  </head>
  <body onload="setupNavigation();">
    <h1>micronomy @ B3</h1>
    <?.error><div class='error'>Error: <.error></div>
    </?><h2>
      <.employee>,
        vecka <.week>,
          <.state>
    </h2>

    <form class="arrows" action="/" method="POST">
      <input type="hidden" name="date" value="<.previous>">
      <input id="prevWk" type="submit" name="submit" value="&lt;">
    </form>
    <form class="arrows" action="/" method="POST">
      <input type="text" size="10" name="date" value="<.date>">
      <input id="selectedWk" type="submit" name="submit" value="välj">
    </form>
    <form class="arrows" action="/" method="POST">
      <input id="currentWk" type="submit" name="submit" value="idag">
    </form>
    <form class="arrows" action="/" method="POST">
      <input type="hidden" name="date" value="<.next>">
      <input id="nextWk" type="submit" name="submit" value="&gt;">
    </form>

    <div class="dates">
      <@dates: $day>
        <span class="box"><$day></span>
      </@>
    </div>

    <form action="/" method="POST">
      <input type="hidden" name="concurrency" value="<.concurrency>" />
      <input type="hidden" name="date" value="<.date>" />
      <@rows>
        <div class="row">
          <div class="title"><.title></div>
          <input type="hidden" name="concurrency-<.number>" value="<.concurrency>" />
          <@days: $day>
            <input type="hidden" name="hidden-<.number>-<$day.number>" value="<$day.hours>" />
            <span class="box"><input class="hours" type="text" name="hours-<.number>-<$day.number>" value="<$day.hours>" <$day.disabled>/></span>
          </@>
          <span class="box"><.weektotal></span>
          <&HTML(.status)>
        </div>
      </@>
      <input class="submit" type="submit" value="Spara" />
    </form>

    <div class="total">
      <div class="title">Totalt</div>
      <@total: $hours>
        <span class="box"><$hours></span>
      </@>
      <span class="box"><.totalSum></span>
    </div>

    <div class="fixed">
      <div class="title">Förväntat</div>
      <@fixed: $hours>
        <span class="box"><$hours></span>
      </@>
      <span class="box"><.fixedSum></span>
    </div>

    <div class="overtime">
      <div class="title">Saldo</div>
      <@overtime: $hours>
        <span class="box"><$hours></span>
      </@>
      <span class="box"><.overtimeSum></span>
    </div>

    <div class="invoiceable">
      <div class="title">Fakturerbart</div>
      <@invoiceable: $hours>
        <span class="box"><$hours></span>
      </@>
      <span class="box"><.invoiceableSum></span>
    </div>

    <form class="submit" action="/submit" method="POST">
      <input type="hidden" name="concurrency" value="<.concurrency>" />
      <input type="hidden" name="date" value="<.date>" />
      Ändringsorsak: <input class="reason" type="text" name="reason" />
      <input class="submit" type="submit" value="Avlämna" />
    </form>

    <form class="submit" action="/edit" method="POST">
      <input type="hidden" name="date" value="<.date>" />
      <input class="submit" type="submit" value="Redigera rader" />
    </form>

    <form class="logout" action="/logout" method="POST">
      <input type="hidden" name="username" value="" />
      <input class="submit" type="submit" value="Logga ut" />
    </form>

    <div class="style">
      <a href="#" id="light" onclick="setActiveStyleSheet('light');return false;">ljus</a> /
      <a href="#" id="dark" onclick="setActiveStyleSheet('dark');return false;">mörk</a>
    </div>
    <p>Please <a href="https://github.com/krakan/micronomy/issues">report bugs</a>!</p>
  </body>
</html>
