body {
    font-family: arial;
}
form.arrows {
    display: inline-block;
}
input.hours {
    width: 90%;
    border: 0;
    font-size: 11pt;
    font-family: arial;
    text-align: center;
}
span.box {
    display: inline-block;
    border: 1px solid grey;
    width: 3em;
    text-align: center;
    font-size: 11pt;
    font-family: arial;
    padding: 0.1em;
}

span#timestamp {
    color: #777;
}

form.submit, form.logout {
    margin-top: 2em;
}

div.error {
    font-size: 24pt;
    color: #a00;
    padding-bottom: 1em;
}

span.style {
    display: inline-block;
    border: 1px solid grey;
}
span.style #light {
    color: #000000;
    background: #ffffff;
    text-decoration: none;
}
span.style #dark {
    color: #aa0;
    background: #0f0f0f;
    text-decoration: none;
}

input[type=submit] {
    height: 100%;
    padding-left: .5em;
    padding-right: .5em;
}
