body {
    background: #5c5c5c;
    color: #f7df04;
}
h1 {
    color: #0ccccc;
}
h2 {
    color: #ff4f94;
}
input {
    background: #5c5c5c;
    color: #f7df04;
}
input[type=submit]:hover {
    background: #4c4c4c;
}
input:disabled {
    background: #6c6c6c;
    color: #f7df04;
}
#B3 {
    color: #0ccccc;
    color: #f7df04;
    color: #ff4f94;
    color: #3600cc
    color: #5c5c5c;
}
