body {
    background: black;
    color: #aa0;
    font-family: arial;
}
h1 {
    color: green;
}
input {
    background: black;
    color: #aa0;
}
input:disabled {
    background: #333;
    color: #aa0;
}
form.arrows {
    display: inline-block;
}
form div input.hours {
    width: 100%;
    font-size: 12pt;
    font-family: arial;
    text-align: center;
}
span.box {
    display: inline-block;
    border: 1px solid grey;
    width: 3em;
    text-align: center;
    font-size: 12pt;
    font-family: arial;
    padding: 0.1em;
}
